<!DOCTYPE html>
<html lang="{{ .Language }}">
    <head>
{{ partial "head.html" . }}
        {{- block "theme_colors" .}}{{- end }}
        {{- block "head_script" . }}{{- end }}
    </head>
    <body class="{{.Params.layout}} {{ .Section }} {{ .Kind }}">
        {{ if not .IsHome }}
        <nav class="back-home">
            <a class="button" href="/"><span class="icon"></span> home</a>
        </nav>
        {{ end }}
        <div id="content" class="{{ .Section }} {{ .Kind }}">
            {{- block "main" . }}{{- end }}
        </div>
        {{ partial "footer.html" . }}
        {{- block "script" . }}{{- end }}
    </body>
</html>
